@*@model Order
    @{
        ViewBag.Title = "Order Confirmed!";
        Layout = "_AdminLayout";
        //var order = ViewData["order"];
        //Order order = ViewBag.Order;
        //SportsStore.Models.Order order = (SportsStore.Models.Order)ViewBag.order;
       }*@

<h2>Thanks!</h2>
<p>Thanks for placing your order.</p>
<p>We'll ship your goods as soon as possible.</p>
<p>Your order # is <b>@ViewBag.order.OrderID</b></p>
@*<p>Username : @order.name</p>*@
@{ 
    var o = ViewBag.order;
}

<table class="table table-bordered table-striped">
    <tr>
        <th colspan="2">Details</th>
    </tr>
    <tr>
        <th>Product</th>
        <th>Quantity</th>
    </tr>
    @foreach (CartLine line in o.Lines)
    {
        <tr>
            <td>@line.Product.Name</td>
            <td>@line.Quantity</td>            
        </tr>
    }
</table>



