@page
@model AboutModel
@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"]</h2>
<h3></h3>
<br />


<h3>Parker Hudson </h3>
<h4>Chief Executive Officer</h4>
<img src="~/images/p1.png" alt="Parker Hudson" class="image" style="max-height:250px; max-width:250px" />
<p> Parker Hudson is our CEO and President of UNFMart. </p>
<p>
    Under Parker's leadership, UNFMart is thriving to make life easier by making drinks easier to get.
    He was named CEO since the start of the company and has been without fail ever since.
    Originally from Jacksonville, Florida, he graduated from University of North Florida with a degree in Computer Science.
</p>

<h3>Nick Basich </h3>
<h4>Chief Operating Officer</h4>
<img src="~/images/n1.png" alt="Nick Basich" class="image" style="max-height:250px; max-width:250px" />
<p> Nick Basich is the Chief Operating Officer of UNFMart. </p>
<p>
    He is responsible for all of the operations that happen at UNFMart.
    As one of the founding four members, his activeness in roles and board meetings is what makes him a great member in our team.
    Originally from Jacksonville, Florida, he graduated from University of North Florida with a degree in Information Technology.
</p>


<h3>Claudio Bylyku </h3>
<h4>Chief Financial Officer</h4>
<img src="~/images/c1.jpg" alt="Claudio Bylyku" class="image" style="max-height:250px; max-width:250px" />
<p> Claudio Bylyku is the Chief Financial Officer of UNFMart.</p>
<p>
    He is responsible for all of the finance aspect of UNFMart, and works on their belief of easily and affordable drinks.
    As one of the four founding members, Claudio and his team work together to enforce their ideas while also keeping things affordable.
    Originally from Jacksonville, Florida, he graduated from University of North Florida with a degree in Information Technology.
</p>

<h3> Quondarius "Q" Woody </h3>
<h4>Chief Marketing Officer</h4>
<img src="~/images/q2.jpg" alt="Quondarius Woody" class="image" style="max-height:250px; max-width:250px" />
<p>
    Quondarius Woody is our Chief Marketing Officer of UNFMart.
    He is responsible for all of UNFMart's marketing efforts, such as strategy, branding, and programs for our eCommerce.
    As one of the four founding members, Quondarius has worked with many professionals in order to develop the best marketing strategies and plans to help our customers.
    Originally from Tallahassee, Florida, he graduated from University of North Florida with a degree in Information Systems and a minor in Business. 
</p>

<h3>Our Mission</h3>
<p>
    Many people know the issue of going to a vending machine expecting a drink that they want and to their surprise, the machine doesn't have the drink they desire.
    Therefore our goal is to provide Students and Staff a variety of drinks that they will need without the hassle of finding a vending machine or driving to a store that may not have the drink they need.
    At UNFMart, you request what drinks you need and how many drinks you need and then we deliver it straight to you in our packages.
    What makes us different is the fact that we deliver our products to dormitories, something that most services aren't able to do.
    All you have to do is order from your phone or computer and it's that easy!
</p>

<h3> How our Business works</h3>
<p>
    If you need refreshments such as water, energy drinks, or sports drinks, go to our website and browse our catalog.
    Once you found what you are looking for, add them to your cart and checkout. All that is needed is your name, billing address, the city you are in,
    State, Zip Code, Country, and whether or not you want your items gift wrapped or not. Once that is filled out, click the complete order button and wait for your
    items to be delivered!
</p>

<h3>Our Policies</h3>
<p>In terms of returns, we do not do returns. As we do not have a physical "store" location, there is no possible way for us to get your items back for return.
    Our deliveries do have a shipping cost. The shipping cost is 3 dollars for every delivery. Our sales tax is 7%, just like any other store. 
    At the moment, we do not have any special services available. There are plans in the future, however, currently we just do deliveries. 
    At UNFMart, all of our items are priced at retail, that way you won't be paying extra!</p>