@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>
    UNFDrinks is a local owned store founded in 2020 by: Nick Basich, Claudio Bylyku, Parker Hudson, and Quondarius Woody. 
    Many people know the issue of going to a vending machine expecting a drink that they want and to their surprise, the machine doesn't have the drink they desire.
    Therefore our goal is to provide Students and Staff a variety of drinks that they will need without the hassle of finding a vending machine or driving to a store that may not have the drink they need.
    At UNFDrinks, you request what drinks you need and how many drinks you need and then we deliver it straight to you in our packages. 
    What makes us different is the fact that we deliver our products to dormitories, something that most services aren't able to do. 
    All you have to do is order from your phone or computer and it's that easy! </p>
