@page
@model ContactModel
@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>


<address>
    1 UNF Dr<br />
    Jacksonville, FL 32224<br />
    Phone:
    (904) 620-1000
</address>

<address>
    <strong>Support:</strong> <a href="#">Support@UNFMart.com</a><br />
    <strong>Marketing:</strong> <a href="#">Marketing@UNFMart.com</a>
</address>
