@page
@model SportsStore.Pages.FAQModel
@{
    ViewData["Title"] = "FAQ";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>
<p>1. Q</p>
<p>1. A</p>
<p>2. Q</p>
<p>2. A</p>