@page
@model SportsStore.Pages.FAQModel
@{
    ViewData["Title"] = "FAQ";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Have questions? We have answers!</p>
<p>1. Q: What kind of beverages are served?</p>
<p>1. A: The drinks that are served are: 
    Energy Drinks - Monster, C4, Bang, Rockstar and Red Bull.
    Coffee - Iced, Hot, Esspresso, Latte, and Cappucino.
    Water - Bottled.
    Sports Drinks - Powerade, Gatorade, Propel, and Body armor
    Soft Drinks - Sprite, Coke(diet included), Root Beer, Pepsi(diet included), Fanta and Ginger Ale.</p>
<p>2. Q: Will there be any alcoholic or virgin beverages?</p>
<p>2. A: There will not be any alcohlic beverages. As far as virgin drinks, there is room for improvement! Look forward to them!</p>
<p>3. Q: Do you serve anything other than beverages?</p>
<p>3. A: No we don't Sorry!</p>
<p>4. Q: Can we order drinks only online?</p>
<p>4. A: For right now, we are online based, but there are planse for a physical location in the works!</p>
<p>5. Q: Is this service only for UNF Students/Faculty?</p>
<p>5. A: This servis is indeed only for Students and Faculty, but members of the university can purchase drinks for anyone they desire!</p>
<p>6. Q: Do you deliver on camups?</p>
<p>6. A: Yes we deliver on campus. there is also the option to pick up your order from your front-desk receptionist if you live on campus.
    Faculty members can have their orders delivered directly to their office/classroom. There is a small charge for delivery and is included in the price of the beverage.</p>
<p>7. Q: What currency do you accept?</p>
<p>7. A: We accept Ozzie Bucks, credit and debit! If you only have cash, you can go to the cashier's office to place that cash on your UNF ID.</p>
<p>8. Q: What if I need to cancel my order?</p>
<p>8. A: Reach out to Customer Support and we will cancel your order if your order has not been delivered yet.</p>
<p>9. Q: What if I want to return my drink?</p>
<p>9. A: Due to health and saftey concerns, we do not accept returns. All transactions that are complete and delivered are final.</p>
<p>10. Q: What if my order is messed up by you guys?</p>
<p>10. A: If your order is messed up by us, the transaction is complete and the beverage delivered, we will fully refund your money and allow you to keep the drink free of charge!
    The correct drink will be delivered to you. There will be no delivery charge added.</p>
<p>11. Q: Do you have Holiday/Event beverages?</p>
<p>11. A: We can get Holiday beverages premade for you, but no not make Holiday drinks inhouse. Not yet anyway.</p>