@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-container">
    <h2>Bring the drinks to you!</h2>
    <p>Need refreshments?  Stuck in the class room?  Order now!</p>
</div>

<div class="w3-content w3-section" style="max-width:500px">
    <img class="mySlides w3-animate-top" src="~/images/bang.jpg" style="width:100%">
    <img class="mySlides w3-animate-bottom" src="~/images/dasani.jpg" style="width:100%">
    <img class="mySlides w3-animate-top" src="~/images/eternalwater.jpg" style="width:100%">
    <img class="mySlides w3-animate-bottom" src="~/images/fiji-bottle.jpg" style="width:100%">
    <img class="mySlides w3-animate-top" src="~/images/gatorade-blue.jpeg" style="width:100%">
    <img class="mySlides w3-animate-bottom" src="~/images/mosnter-can.jpg" style="width:100%">
    <img class="mySlides w3-animate-top" src="~/images/powerade-red.jpeg" style="width:100%">
    <img class="mySlides w3-animate-bottom" src="~/images/propel.jpg" style="width:100%">
    <img class="mySlides w3-animate-top" src="~/images/redbull.jpg" style="width:100%">
    <img class="mySlides w3-animate-bottom" src="~/images/rockstar-can.jpg" style="width:100%">
    <img class="mySlides w3-animate-top" src="~/images/smartwater.jpg" style="width:100%">
    <img class="mySlides w3-animate-bottom" src="~/images/starbucks-bottle.jpg" style="width:100%">
    <img class="mySlides w3-animate-top" src="~/images/zephyr-bottle.jpg" style="width:100%">
</div>
<div class="w3-container">
    <a class="btn btn-outline-primary" href="/Product/List" role="button">SHOP NOW</a>
</div>

<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 2500);
    }
</script>
@*<div class="w3-container">
        <h2>Slideshow Indicators</h2>
        <p>Using images to indicate how many slides there are in the slideshow, and highlight the image the user is currently viewing.</p>
    </div>

    <div class="w3-content" style="max-width:500px">
        <img class="mySlides" src="~/images/fiji-bottle.jpg" style="max-width:400px;display:none">
        <img class="mySlides" src="~/images/gatorade-blue.jpeg" style="max-width:400px">
        <img class="mySlides" src="~/images/mosnter-can.jpg" style="max-width:400px;display:none">

        <div class="w3-row-padding w3-section">
            <div class="w3-col s4">
                <img class="demo w3-opacity w3-hover-opacity-off" src="~/images/fiji-bottle.jpg" style="max-width:100px;cursor:pointer" onclick="currentDiv(1)">
            </div>
            <div class="w3-col s4">
                <img class="demo w3-opacity w3-hover-opacity-off" src="~/images/gatorade-blue.jpeg" style="max-width:100px;cursor:pointer" onclick="currentDiv(2)">
            </div>
            <div class="w3-col s4">
                <img class="demo w3-opacity w3-hover-opacity-off" src="~/images/mosnter-can.jpg" style="max-width:100px;cursor:pointer" onclick="currentDiv(3)">
            </div>
        </div>
    </div>

    <script>
        function currentDiv(n) {
            showDivs(slideIndex = n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
            }
            x[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " w3-opacity-off";
        }
    </script>*@
@*</div>*@
