
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    <img src="~/images/NatureOwn_whole_grain.jpg" alt="Natures-own whole grain" class="image">
    <img src="~/images/soccer_ball.jpg" alt="Soccer Ball" class="image">
    <img src="~/images/colgate_toothbrush.jpg" alt="Colgate toothbrush" class="image">
    <img src="~/images/white_hoodie.jpg" alt="White hoodie" class="image">

    <div class="Home_container">
        <img src="~/images/NatureOwn_whole_grain.jpg" alt="Natures-own whole grain" class="image" style="width:100%">
        <div class="middle">
            <div class="text">Nature's Own Whole Grain</div>
        </div>
    </div>
}

