@page
@model SportsStore.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@Model.Message</h3>*@

<p>
    WEBSITE PRIVACY POLICY
    This privacy policy (the "Privacy Policy") is intended to inform you of our policies and practices
    regarding the collection, use and disclosure of any information you submit to us. This includes
    "Personal Information," which is information personally identifiable such as your name, e-mail address, user ID number, delivery and billing addresses
    and other non-public information that is associated with the foregoing.
    <br />
    User Consent
    By accessing or otherwise using the our website, you agree to the terms and conditions of this
    Privacy Policy, which is incorporated into and forms a part of our terms of service You expressly
    consent to the processing of your Personal Information according to this Privacy Policy.
    <br />
    Your Personal Information will be processed and stored in UNFMart's database governed by the Personal
    Data Protection Act 2010 ("PDPA"). Your Personal Information will not be used or disclosed for
    purposes for which you have not given consent or which are not permitted under applicable law. Your information will not be
    traded or sold. It will be used fr in-house purposes only. When your information is no longer needed it will be completely erased
    from our database and systems.
    <br />
    <h3>Collection of Information</h3>
    <br />
    <b>Personal Information That You Provide</b>
    In general, we collect Personal Information that you submit to us voluntarily. We also collect
    information that you submit in the process of creating or editing your account and user profile."
    <br />
    <b>Personal Information from Other Sources</b>
    <br />
    We may receive Personal Information about you from other sources with which you have expressly
    consented to,
    <br />
    <b>E-Mail Address</b>
    <br />
    If you send an e-mail to us, or fill in our "Feedback" form, we will collect your e-mail address and
    the full content of your e-mail, including attached files, and other information you provide for the express purposes
    of making your future visits to our website easier.
    <br />
</p>

@*comment*@
@*test comment 2*@