<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Walmart</title>
        <link rel="stylesheet" href="~/css/site.css">
    </head>
    <body>

        @*<img src="~/images/NatureOwn_whole_grain.jpg" alt="Natures-own whole grain" class="image">
        <img src="~/images/soccer_ball.jpg" alt="Soccer Ball" class="image">
        <img src="~/images/colgate_toothbrush.jpg" alt="Colgate toothbrush" class="image">
        <img src="~/images/white_hoodie.jpg" alt="White hoodie" class="image">*@

        <div class="Home_container">
            <img src="~/images/NatureOwn_whole_grain.jpg" alt="Natures-own whole grain" class="image" style="width:100%">
            <div class="middle">
                <div class="text">Nature's Own Whole Grain</div>
            </div>
        </div>
    </body>
    </html>




